RewriteEngine On

# Security rules
RewriteRule ^(composer\.|LICENSE|README\.|\.) - [L,R=404]

# Redirect to front controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]